body{
	background-color: black;
}
h1, h3{
	text-align: center;
}
p{
	font-size: 130%;
	line-height: 30px;
	font-wight: bold;
}

.sidebar {
    background-color: black;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.sidebar h1 {
    color: white;
}