body{
	background-color: black;
	background-image: url("overwatchBG.png");
	background-repeat: no-repeat;
	background-size: cover;
}
h1, h3{
	text-align: center;
}
p{
	font-size: 130%;
	line-height: 30px;
	font-wight: bold;
	font-color: white;
}

.sidebar-list{
	font-size: 150%;
	color: white;
	font-weight: bold;
}

.sidebar {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
	display: none;
}
button{
	background-color: white;
}
