/* style.css */
h1 {
  position: relative;
  font-family: 'Arial', sans-serif;
  color: white;
}
h2 {
  position: relative;
  font-family: 'Arial', sans-serif;
  color: white;
}
p {
  position: relative;
  font-family: 'Arial', sans-serif;
  color: white;
}
div.bg {
  background-image: url("bg1.png");
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-filter: blur(3px);
	filter: blur(3px);
}
