/* style.css */
h1 {
  position: relative;
  font-family: 'Arial', sans-serif;
  color: white;
  left: 20px;
}
p.tagline {
  position: relative;
  font-family: 'Arial', sans-serif;
  color: white;
  left: 20px;
}
p.tagline2 {
  position: relative;
  font-family: 'Arial', sans-serif;
  color: white;
  left: 20px;
}
p {
  position: relative;
  font-family: 'Arial', sans-serif;
  color: white;
}
div.bg {
  background-image: url("bg1.png");
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-filter: blur(3px);
	filter: blur(3px);
}
img {
  position: relative;
  height: 300px;
  left: 80px;
  top: 80px;
}
p.ow {
  position: relative;
  font-family: 'Arial', sans-serif;
  color: white;
  top: 90px;
  left: 90px;
  padding-bottom: 20px;
}
div.pubg {
  position: relative;
  height: 300px;
  left: 300px;
  bottom: 330px;
  font-family: 'Arial', sans-serif;
  color: white;
}
p.pb {
  position: relative;
  top: 93px;
  left: 88px;
  padding-bottom: 5px;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
}
img.grow { transition: all .2s ease-in-out; }
img.grow:hover { transform: scale(1.05); }
