/* style.css
font-family: 'Open Sans', sans-serif; */
body {
  overflow-x: hidden;
  overflow-y: scroll;
}
p {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
p.tagline {
  left: 20px;
}
p.ow {
  top: 90px;
  left: 90px;
  padding-bottom: 20px;
}
p.pb {
  top: 93px;
  left: 88px;
  padding-bottom: 5px;
}
p.credits {
  display: none;
}
div.bg {
  background-image: url("bg1.png");
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-filter: blur(3px);
	filter: blur(3px);
}
div.col-md-12 {
  top: 90px;
  left: 20px;
  padding-bottom: 10px;
}
img {
  position: relative;
  height: 300px;
  left: 80px;
  top: 80px;
}
img.grow { transition: all .2s ease-in-out; }
img.grow:hover { transform: scale(1.05); }
nav.navbar {
  background: transparent;
  border: hidden;
}
.navbar-default .navbar-brand {
  font-size: 30px;
  font-weight: 300;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-nav>li>a:hover {
  color: gray;
}
