{% extends "layout.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#1a126d">
  <title>GameHub</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="home.js"></script>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
</head>

<body>
  <div class="bg"></div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
     			<span class = "icon-bar"></span>
     			<span class = "icon-bar"></span>
     			<span class = "icon-bar"></span>
     		</button>
        <a class="navbar-brand" href="index.html">GameHub</a>
      </div>
      <div class="collapse navbar-collapse" id="mainNavBar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="overwatchTab.html">Overwatch</a></li>
          <li><a href="pubgTab.html">PUBG</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <p class="tagline">Game details, reviews, and more!</p>
  <p class="tagline">Check out our list of games and take a look at any games that might interest you.</p>
  <div class="row">
  <div class="games">
    <div class="col-sm-4">
      <a href="overwatchTab.html"><img class="grow" src="overwatch.jpg" alt="Overwatch">
<p class="ow"><strong>Overwatch</strong></p></a>
    </div>
    <div class="col-sm-4">
      <a href="pubgTab.html"><img class="grow" src="pubg.jpg" alt="PlayerUnknown's Battlegrounds">
  <p class="pb"><strong>PlayerUnknown's Battlegrounds</strong></p></a>
    </div>
  </div>
</div>
  <div class="col-md-12">
  <p class="credit" id="credit">Credits</p>
  <p class="credits" id="credits">Made by Alberto, Cameron, and Skyler</p>
</div>
</body>

</html>
