{% extends "layout.html" %}
{% set active_page = "home" %}
{% block title %}Home{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="static/style.css">{% endblock %}

{% block body %}

  <div class="bg"></div>
  <p class="tagline">Game details, reviews, and more!</p>
  <p class="tagline">Check out our list of games and take a look at any games that might interest you.</p>
  <div class="row">
  <div class="games">
    <div class="col-sm-4">
      <a href="/overwatch"><img class="grow" src="static/overwatch.jpg" alt="Overwatch">
<p class="ow"><strong>Overwatch</strong></p></a>
    </div>
    <div class="col-sm-4">
      <a href="/pubg"><img class="grow" src="static/pubg.jpg" alt="PlayerUnknown's Battlegrounds">
  <p class="pb"><strong>PlayerUnknown's Battlegrounds</strong></p></a>
    </div>
  </div>
</div>
  <div class="col-md-12">
  <p class="credit" id="credit">Credits</p>
  <p class="credits" id="credits">Made by Alberto, Cameron, and Skyler</p>
</div>

{% endblock %}
