<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#1a126d">
  <title>{% block title %}{% endblock %}</title>
  {% block style %}{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="static/home.js"></script>
  <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default">
 <div class="container-fluid">
   <div class="navbar-header">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
      <span class = "icon-bar"></span>
      <span class = "icon-bar"></span>
      <span class = "icon-bar"></span>
    </button>
   <a class="navbar-brand" href="#">GameHub</a>
   </div>
   <div class="collapse navbar-collapse" id="mainNavBar">
   <ul class="nav navbar-nav">
   <li {% if active_page == "home" %} class = "active"{% endif %}><a href= "/.">Home</a></li>
   <li {% if active_page == "overwatch" %} class = "active"{% endif %}><a href="/overwatch">Overwatch</a></li>
   <li {% if active_page == "pubg" %} class = "active"{% endif %}><a href="/pubg">PUBG</a></li>
   </ul>
 </div>
 </div>
</nav>
{% block body %}{% endblock %}
</body>
</html>
