<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<meta name="description" content="">

		<meta name="author" content="">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src = "static/overwatchScript.js"></script>
		<title>Overwatch</title>
		<link rel = "stylesheet" type = "text/css" href = "static/overwatchStyle.css"/>
	</head>
	<body>

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
			       <span class = "icon-bar"></span>
			       <span class = "icon-bar"></span>
			       <span class = "icon-bar"></span>
			     </button>
				  <a class="navbar-brand" href="/.">GameHub</a>
				</div>
				<ul class="nav navbar-nav">
				  <li><a href= "/.">Home</a></li>
				  <li class="active"><a href="/overwatch">Overwatch</a></li>
				  <li><a href="/pubg">PUBG</a></li>
				</ul>
			</div>
		</nav>
		<div id = "#wrapper">

	<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Overwatch
                </li>
                <li>
                    <a href="#description">Description</a>
                </li>
                <li>
                    <a href="#reviews">Reviews</a>
                </li>
				<li>
					<a href = "#screenshots">Screenshots</a>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><img src = "static/menuIcon.jpg" alt = "menuIcon" width = "15px" height = "15px" /></a>
						<h1><a href = "overwatch"></a>Overwatch</h1>
						<h2  id = "description"> Description</h2>
							<p style="float: left;"><img src = "static/overwatchLogo.jfif" alt = "logo" width = "200px" height = "200px"/></p>
							<p>Overwatch is a hero shooter that has a heavy emphasis on objectives. The player has a choice of 25 unique heros that each have a specific role and abilities. The desired team composition will change with the four map types and whether your team is attacking or defending. </p>
						<h2 id = "reviews">Reviews</h2>
							<p id = "quotes">100 Game of the Year awards.<br>"The new gold-standard for multi-player shooters" - <a href = "http://www.ign.com/articles/2016/05/28/overwatch-review">IGN</a><br>"The game is merely the best competitive first-person shooter in years, and easily the best of its kind."- <a href = "http://gamingenthusiast.net/2016/05/25/overwatch-review/">PC Gaming Enthusiast</a><br>"Overwatch is a great, occasionally fantastic shooter, and filled with fresh, clever design decisions" - <a href = "http://www.pcgamer.com/overwatch-review/">PC Gamer</a></p>
						<h2 id = "screenshots">Screenshots</h2>
							<img src = "static/overwatch1.png" alt = "O1" width = "70%" height = "70%"/>
							<img src = "static/overwatch2.png" alt = "O2"/>
					</div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
     <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
	</body>
</html>
